### Custom ###
.agent/
.claude/
.qoder/

### Java ###
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
logs/
uploads/

### Vue ###
ui-vue/node_modules/
ui-vue/logs
ui-vue/*.log
ui-vue/npm-debug.log*
ui-vue/yarn-debug.log*
ui-vue/yarn-error.log*
ui-vue/pnpm-debug.log*
ui-vue/lerna-debug.log*
ui-vue/dist
ui-vue/dist-ssr
ui-vue/release
ui-vue/*.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
