spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 20
  data:
    redis:
#      host: redis
#      port: 6379
      host: localhost
      port: 6379
      password: 123456
      database: 1

server:
  port: 8080