spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: "${DB_USERNAME:postgres}"  # 使用环境变量，带默认值
    password: "${DB_PASSWORD:082400}"         # 使用环境变量，带默认值
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 20
  data:
    redis:
      host: localhost
      port: 6379
      password: "${REDIS_PASSWORD:123456}"  # 使用环境变量，带默认值
      database: 1

server:
  port: 8080